@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Google Sans Code', consolas;
    color: white;
    transition: 0.1s ease;
}

body {
    background-color: rgb(22, 22, 22);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    text-transform: uppercase;
    background-color: mediumaquamarine;
    color: rgb(22, 22, 22);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#appArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: scale(1.15);
}

#appArea h1 {
    display: block;
    font-size: 16px;
    color: rgb(173, 173, 173);
    margin: 0;
}

.panels {
    width: 256px;
    background-color: rgb(34, 34, 34);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

#outputPanel {
    display: flex;
    justify-content: space-between;
}

#outputPanel input {
    font-size: 18px;
    background-color: rgb(34, 34, 34);
    border: none;
    padding: 5px;
    width: 200px;
}

#copyIcon {
    filter: invert(99%);
    width: 100%;
    height: 100%;
}

#outputPanel button:hover {
    background-color: rgb(31, 63, 53);
}

#outputPanel button:active {
    background-color: rgb(17, 34, 28);
}

#controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#passwordLengthPanel {
    width: 90%;
}

#lengthLabels {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px; 
  border-radius: 10px;
  background: #525252; 
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; 
  height: 15px;
  background: rgb(106, 214, 178); 
  border-radius: 50%; 
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color:rgb(111, 233, 194);
}

#controlPanel > * {
    padding: 10px;
}

#checkboxGrid {
    margin-bottom: 6px;
}

.checkboxes {
    font-size: 13px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.checkboxes input {
    margin-right: 8px;
}

input[type="checkbox"] {
    accent-color: rgb(106, 214, 178);
}

#strengthPanel {
    background-color:rgb(19, 19, 19);
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#strengthStatus {
    display: flex;
    align-items: center;
}

#strengthLabel {
    margin: 0 8px;
}

#strengthBars {
    display: flex;
}

#strengthBars > * {
    border: 2px solid white;
    border-radius: 2px;
    width: 5px;
    height: 24px;
    margin: 0 2px;
}

#strengthPanel, #generateBtn {
    width: 90%;
    box-sizing: border-box;
}

#generateBtn {
    font-weight: bold;
    margin: 10px auto;
    padding: 12px 0;
}

#generateBtn:hover {
    background-color:rgb(31, 63, 53);
    color: rgb(255, 255, 255);
}

#generateBtn:active {
    background-color: rgb(17, 34, 28);
}

@media screen and (min-width: 600px) {
    #appArea {
        transform: scale(1.5);
    }

    #generateBtn {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    .panels {
        width: 500px;
    }

    #outputPanel input {
        width: 445px;
    }

    #controlPanel {
        display: grid;
        grid-template-columns: 200px 300px;
        grid-template-rows: 80px;
        grid-template-areas: 
        "length length"
        "check strength"
        "check generate";
    }

    #passwordLengthPanel {
        width: 475px;
    }

    #strengthPanel {
        align-self: center;
        justify-self: center;
    }

    #generateBtn, #strengthPanel {
        width: 275px;
    }
}





